

.div { 
    position:absolute; 
    width:1200px; 
    height:550px;
    font-size:36px; 
    text-align:center;
    color:silver; 
    background:white;
    padding-top:25px;
    top:0; 
    left:0; 
    display:none;
    border:0px solid white;
    padding-top: 100px;
}

.span { display:none; }




.infobox {
    position:relative;
    border:0px solid #000; 
    width:73px;
    padding:5px;
    }
.infobox img {
 position:relative;
 z-index:2;
    }
.infobox .more {
 display:none;
    }
.infobox:hover .more {
 display:block;
    position:absolute;
    z-index:1;
    left:-1px;
    top:-1px;
    width:458px;
    padding:78px 5px 5px;
    border:0px solid #900;
    background-color:#FFEFEF;
    }


#espacio{
    border:10px solid white;
    background:white;
    text-align:right;
    width:880px;
    height:70px;
    position:relative;  
    overflow:hidden;
    margin-left: 172px; 
}
#barraVerde{
    border:10px solid white;
    background:white;
    text-align:right;
    width:5px; 
    height:450px; 
    margin-left: 172px; 
    margin-bottom: 128px;	
}
#barraVerde1{
    border:0px solid white;
    background:green;
    text-align:right;
    width:5px; 
    height:300px; 
    margin-left: 181px; 
    margin-bottom: 128px;	
}
#fondo{
    left:130px;  
    border:10px solid white;
    background:white;
    text-align:right;
    width:875px; 
    height:500px;
    margin-left:-128px;
    position:relative; 
    overflow:hidden;	
}
#three{
    float:left;
    margin:0px;
    width:5px; 
    height:5px;
    padding-top: 10px;
       padd-left: 200px;
}
#icono{
    float:left; 
    margin:10px;
    width:500px; 
    height:75px;
    margin-left:-70px;
}
#capa{
    background:#D8D8D8; 
    height:400px; 
    width:600px;
    position:absolute; 
    top:0; 
    left:0;
    padding-top: 30px;
}
#one{
    float:left;
    margin:10px;
    width:600px; 
    height:135px;
    margin-left: 10px;
}
#claseboot{
    float:left; 
    margin:0px;
    width:458px; 
    height:75px; 
    margin-left: 5em;
}
#two{
    float:left;
    margin:10px;
    width:420px; 
    height:135px;
    margin-left: 18px;
}
#segundacapa{
    background:white; 
    height:400px; 
    width:600px;
    position:absolute; 
    top:0; 
    margin-left: 650px; 
    left:0;
    padding-top: 30px;
}
#barraVerdeC{
    background:green; 
    height:400px; 
    width:5px;
    position:absolute; 
    top:0; 
    margin-left: 3px; 
    left:0;
    padding-top: 30px;
}
#barrablanca{
    background:white; 
    height:400px; 
    width:15px;
    position:absolute; 
    top:564px; 
    margin-left: 8px; 
    left:0;
    padding-top: 30px;
}
#footer1{
    background:#151515; 
    height:40px; 
    width:1400px;
    margin: -57px;        
    position:absolute; 
    top:600px; 
    padding-left: 130px; 
    padding-top: 0px;
}

#instruccion{
    border:0px solid red;
    text-align:right;
    width:215px; 
    height:32px; 
    margin-top: -43px; 
    margin-left: 103px;
    margin-bottom: 0px;
    font-size: 21px;
    color: #848484;
}
#datepicker{
    border:0px solid black;
    text-align:right;
    width:350px; 
    height:300px; 
    margin-top: 0px; 
    margin-left: 25px;
    margin-bottom: 0px;
    font-size: 21px;
    color: #848484;
    
}


#exportar{
    border:0px solid black;
    text-align:right;
    width:41px; 
    height:41px; 
    margin-top: 303px; 
    margin-left: -83px; 
    margin-bottom: 0px;
    
}
#exportar1{
    border:0px solid black;
    text-align:right;
    width:48px; 
    height:41px;
    margin-top: 298px; 
    margin-left: -275px; 
    margin-bottom: 0px;
}
#barraVerde2{
    border:1px solid white;
    background:green;
    text-align:right;
    width:5px; 
    height:300px; 
    margin-left: 78px;
    margin-bottom: 0px;  
}
#tablagris{
    border:2px solid white;
    text-align:right;
    width:300px; 
    height:301px; 
    margin-left: 90px;
    margin-bottom: 0px; 
    color: #848484;
}
#tdtodos{
   border:2px solid white; background:#FAFAFA; 
}
#td1{
   border:2px solid white; background:#F2F2F2; 
}
#td2{
   border:2px solid white; background:#E6E6E6; 
}
#td3{
   border:2px solid white; background:#D8D8D8; 
}
#td4{
   border:2px solid white; background:#BDBDBD; 
}
#td5{
   border:2px solid white; background:#A4A4A4; 
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: 40px;
  
  width: 200px;
  height: 5px;
  position: absolute;
  margin-left: 10px;
  margin-top:151px; 
  border:0px solid red;
}

body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #whites;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}



root { 
    display: block;
}

